<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu.xmu.haruki.other.mapper.UserMapper" >
    <select id="totalUserNum" resultType="java.lang.Integer">
        select count(*) from user;
    </select>

    <select id="getAllUsers" resultType="User">
        select * from user limit #{start},#{size};
    </select>

    <select id="getUserByUId" resultType="User">
        select * from user where id=#{uId}
    </select>

    <select id="getUserByUnamePasswd" resultType="User">
        select * from user where username=#{username} and password=#{password}
    </select>

    <select id="getUserByUsername" resultType="User">
        select * from user where username=#{username};
    </select>

    <update id="updateUser" parameterType="User">
        update user
        <set>
        <if test="username !=null">
            username=#{username},
        </if>
        <if test="password !=null">
            password=#{password},
        </if>
        <if test="name !=null">
            name=#{name},
        </if>
        <if test="userStatus !=null">
            user_status=#{userStatus},
        </if>
        <if test="admin !=null">
            admin=#{admin},
        </if>
       </set>
        where id=#{id}
    </update>

    <update id="updateUserStatus">
        update user set
        user_status=#{userStatus}
        where id=#{uId}
    </update>

    <insert id="createUser">
        insert into user(username,password,name,user_status,admin)
        value(#{username},#{password},#{name},1,#{admin})
    </insert>

    <delete id="deleteUser">
        delete from user
        where id=#{uId}
    </delete>
</mapper>